@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #4A5376;
    --secondary-color: #829BB8;
    --background-color: #F6F9FF;
    --span-color: #687097;
}

* {
    font-family: 'Poppins', sans-serif !important;
    margin: 0 !important;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #33323D;
}

.page-item.active .page-link {
    border: none !important;
    background-color: var(--primary-color) !important;
    color: #fff !important;
}


@media (max-width:1200px) {
    .table-container {
        padding-top: 25px !important;
        padding-bottom: 50px !important;
    }
}

.form-control {
    outline: none !important;
}

.page-link {
    color: #4A5376 !important;
    font-family: 'Poppins', sans-serif;
}

.btn-success {
    background-color: #40916c !important;
    border: none;
}

.btn-success:hover {
    background-color: #386641 !important;
}

.btn-secondary,
.show>.btn-secondary.dropdown-toggle {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-primary:not(:disabled):not(.disabled).active {
    background-color: var(--primary-color);
    outline: none !important;
}

.btn-primary {
    background-color: #941b0c !important;
    border: none;
    height: 38px !important;
}

.btn-secondary {
    margin-right: 5px !important;
}

th,
td {
    text-align: center !important;
    vertical-align: middle !important;
}

.container-card {
    background-color: var(--background-color);
    border-radius: 10px !important;
}

.button-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.custom-control-input:checked~.custom-control-label::before {
    outline: none !important;
    border: none !important;
    background-color: #4A5376;
}


.modal-backdrop {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#modal-center,
#modal-form {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.modal-content {
    width: 350px;
}

.modal-header .close {
    padding: 0px !important;
}
